* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(217, 54%, 11%);
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column-reverse;
    position: relative;
}

.container {
    width: 28%;
    height: 600px;
    background-color: hsl(216, 50%, 16%);
    border-radius: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -300px;
    margin-left: -14%;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 18px;
}

.content {
    width: 85%;
    height: 550px;
}

.content h1 {
    color: hsl(0, 0%, 100%);
    font-size: 23px;
}

.parag {
    color: hsl(215, 32%, 27%);
}

.content > img{
    width: 315px;
    height: 315px;
    border-radius: 10px;
    margin: auto;
}

.content hr {
    border-color: hsl(215, 32%, 27%);
}

.creator {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    align-items: center;
    margin-top: 18px;
}

.creator p {
    color: hsl(0, 0%, 100%);
}

.creator img {
    width: 35px;
    height: 35px;
    border: 1px solid hsl(0, 0%, 100%);
    border-radius: 30px;
}