* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(217, 54%, 11%);
    width: 100%;
    height: 800px;
    display: flex;
    flex-direction: column-reverse;
    position: relative;
}

.container {
    width: 28%;
    height: 600px;
    background-color: hsl(216, 50%, 16%);
    border-radius: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -300px;
    margin-left: -14%;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 18px;
}

.content {
    width: 85%;
    height: 550px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -275px;
    margin-left: -42.5%;
}

.content h1 {
    color: hsl(0, 0%, 100%);
    font-size: 23px;
    margin-top: 18px;
}

.content > p {
    margin-top: 18px;
}

.parag {
    color: hsl(215, 32%, 27%);
    font-weight: 600;
}

.content > img{
    width: 100%;
    height: 55%;
    border-radius: 10px;
    margin: auto;
}

.content hr {
    height: 1px;
    border-width: 0;
    background-color: hsl(215, 32%, 27%);
    margin-top: 18px;
}

.crypto {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}

.crypto p {
    color: hsl(178, 100%, 50%);
}

.time {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}

.time p {
    color: hsl(215, 32%, 27%);
}

.indicators {
    display: flex;
    justify-content: space-between;
    margin-top: 18px;
}

.creator {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    align-items: center;
    margin-top: 18px;
}

.creator p {
    color: hsl(0, 0%, 100%);
}

.creator img {
    width: 35px;
    height: 35px;
    border: 1px solid hsl(0, 0%, 100%);
    border-radius: 30px;
}